<div id="account">

	<div ng-if="!user"><p><em>You must be logged in to view this page.</em></p></div>

	<div ng-if="user">
		<h3><em>Welcome&nbsp;{{ user.username }}!</em></h3>
		<h1>User Details</h1>
		<a href="" ng-click="showAccount()" class="hlink">Edit details</a>
		
		<table id="user-info">
		  <tr>
			<th>Username:</th>
			<td>{{ user.username }}</td>
		  </tr>	
		  <tr>
			<th>Password:</th>
			<td>{{ user.password }}</td>
		  </tr>	
		  <tr>
			<th>Email:</th>
			<td>{{ user.email }}</td>
		  </tr>
		</table>
		
		<h1>My Books</h1>
		<a href="" class="hlink" ng-click="showNewBk()">Add book</a>
		
		<ul class="bk-grid">
		  <!-- loop items -->
		  <li class="view_sec" ng-repeat="book in books">
		    <div class="bk-item">
		      <div class="view_img" dynamic-height>
		        <img ng-src="img/{{ book.image }}" alt=" "/>
		      </div>
		
		      <div class="center">
		        <h5>{{ book.title }}</h5>
		      </div>
		            
		      <div class="clear"></div>
		       
		      <div class="bk-info">
		        <h4 class="center">{{ book.title }}</h4>
		        <p><img src="img/calendar.png" class="left"/><a href="" class="left">Edit book</a></p>
		        <p><img src="img/delete.png" class="left"/><a href="" ng-click="removeBk(book.id)" class="left">Remove book</a></p>
		        <p class="description center">{{ book.author }}<br>{{ book.dept + " " + book.course }}</p>
		      </div>
		    </div>
		   </li>
		 </ul>
	  
	  <!-- modal windows -->
	  <div id="edit-account" class="modal" ng-style="acct" >
         <div>
           <a href="" ng-click="closeAccount()" title="Close" class="close">X</a>

           <form class="form-login">

             <div class="form-log-in-with-email">
               <div class="form-white-background">

                 <div class="form-title-row">
                   <h1>Edit</h1>
                 </div>

                 <div class="form-row">
                   <label>
                     <span>Email</span>
                     <input type="text" name="email" ng-model="user.email">
                   </label>
                 </div>

                 <div class="form-row">
                   <label>
                     <span>Username</span>
                     <input type="text" name="username" ng-model="user.username">
                   </label>
                 </div>

                 <div class="form-row">
                   <label>
                     <span>Password</span>
                     <input type="password" name="password" ng-model="user.password">
                   </label>
                 </div>

                 <div class="form-row">
                   <div class="center">
                     <a href="" class="loginBtn" ng-click="editAccount()">Edit</a>
                   </div>
                 </div>

               </div>
             </div><!-- end .form-log-in-with-email -->

         </form>
         </div>
       </div>
       
       <div id="add-book" class="modal" ng-style="newbook" >
         <div>
           <a href="" ng-click="closeNewBk()" title="Close" class="close">X</a>

           <form class="form-login">

             <div class="form-log-in-with-email">
               <div class="form-white-background">

                 <div class="form-title-row">
                   <h1>Add book</h1>
                 </div>

                 <div class="form-row">
                   <label>
                     <span>Title</span>
                     <input type="text" name="title" ng-model="newBk.title">
                   </label>
                 </div>

                 <div class="form-row">
                   <label>
                     <span>Author</span>
                     <input type="text" name="author" ng-model="newBk.author">
                   </label>
                 </div>

                 <div class="form-row">
                   <label>
                     <span>Department</span>
                     <input type="text" name="text" ng-model="newBk.dept">
                   </label>
                 </div>
                 
                 <div class="form-row">
                   <label>
                     <span>Course</span>
                     <input type="text" name="text" ng-model="newBk.course">
                   </label>
                 </div>
                 
                 <div class="form-row">
                   <label>
                     <span>Image</span>
                     <input type="text" name="text" ng-model="newBk.image">
                   </label>
                 </div>
                 
                 <div class="form-row">
                   <label>
                     <span>Price</span>
                     <input type="text" name="text" ng-model="newBk.price">
                   </label>
                 </div>

                 <div class="form-row">
                   <div class="center">
                     <a href="" class="loginBtn" ng-click="addNewBk()">Add</a>
                   </div>
                 </div>

               </div>
             </div><!-- end .form-log-in-with-email -->

         </form>
         </div>
       </div>

	</div><!-- end user -->
  
</div>