<div id="account">

	<div ng-if="!user"><p><em>You must be logged in to view this page.</em></p></div>

	<div ng-if="user">
		<h3><em>Welcome&nbsp;{{ user.username }}!</em></h3>
		<h1>User Details</h1>
		<a href="" class="hlink">Edit details</a>
		
		<table id="user-info">
		  <tr>
			<th>Username:</th>
			<td>{{ user.username }}</td>
		  </tr>	
		  <tr>
			<th>Password:</th>
			<td>{{ user.password }}</td>
		  </tr>	
		  <tr>
			<th>Email:</th>
			<td>{{ user.email }}</td>
		  </tr>
		</table>
		
		<h1>My Books</h1>
		<a href="" class="hlink">Add book</a>
		
		<ul class="bk-grid">
		  <!-- loop items -->
		  <li class="view_sec" ng-repeat="book in books">
		    <div class="bk-item">
		      <div class="view_img" dynamic-height>
		        <img ng-src="img/{{ book.image }}" alt=" "/>
		      </div>
		
		      <div class="center">
		        <h5>{{ book.title }}</h5>
		      </div>
		            
		      <div class="clear"></div>
		       
		      <div class="bk-info">
		        <h4 class="center">{{ book.title }}</h4>
		        <p><img src="img/calendar.png" class="left"/><a href="" class="left">Edit book</a></p>
		        <p><img src="img/delete.png" class="left"/><a href="" ng-click="remove(book.id)" class="left">Remove book</a></p>
		        <p class="description center">{{ book.author }}<br>{{ book.dept + " " + book.course }}</p>
		      </div>
		    </div>
		   </li>
		 </ul>

		
	</div>
  
</div>